<div ng-controller="EmployeeListCtrl">
     
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">员工列表</h1>
    </div>

    <div class="wrapper-md">
        <div class="clearfix m-b"> 
            <a ui-sref="app.personnel.employee.create" tooltip="" class="btn btn-sm btn-primary btn-addon">
                <i class="fa fa-plus"></i>添加员工
            </a>
            <button ng-if="selected" type="button" tooltip="" class="btn btn-sm btn-danger btn-addon">
                <i class="fa fa-plus"></i>删除选中员工
            </button>                   
        </div>

        <div class="panel panel-default" >
            <qmtable ></qmtable>
        </div>

         
    </div>
</div>
